.actores-AN {
    height: 100vh;
    width: 100vw;
    background-color: #101419;
    display: flex;
    flex-direction: column;
}

#transparent-backAC {
    background-color: transparent;
    border: transparent;
    width: 50px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
}

.backAC {
    margin-top: 5px;
    margin-right: 5px;
}

.actores-AN button img {
    max-width: 100%;
    max-height: 100%;
}

.contACT {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;


    margin-top: 30px;
    border-radius: 10px;
    background: linear-gradient(to top, #476C9B, #1C324F);
    width: 90%;
    height: 65%;
}

.column-containerACT {
    display: grid;
    grid-template-columns: 10% 45% 45%;
    grid-template-rows: 50px;
    width: 100%;
    height: 50px;

    border-bottom: 1px solid #101419;

}

.anuncio-containerACT {
    display: grid;
    grid-template-columns: 10% 45% 45%;
    grid-template-rows: 50px;
    width: 100%;
    height: 50px;

    border-bottom: 0.01px solid #101419;

}

.create-actor {
    display: flex;
    justify-content: center;
    align-self: center;

    margin-top: 30px;
    background: linear-gradient(to top, #476C9B, #1C324F);
    width: 90%;
    height: 10%;
    border-radius: 10px;
}

.actorA {
    display: flex;
    justify-content: center;
    align-self: center;
    color: #E0E2DB;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.actorB {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-top: 10px;
    color: #E0E2DB;
}

.grid-actor {
    display: grid;
    align-self: center;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50px;
    width: 100%;
    height: 50px;
}

.grid-actor input {
    display: flex;
    justify-content: center;
    align-self: center;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;

    color: #E0E2DB;
    background-color: #101419;
}

.grid-actor button {
    display: flex;
    justify-content: center;
    align-self: center;
    width: auto;
    margin-left: 40px;
    margin-right: 40px;

    color: #E0E2DB;
    background-color: #101419;
}

.grid-actor select {
    display: flex;
    justify-content: center;
    align-self: center;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;

    color: #E0E2DB;
    background-color: #101419;
}