.content-home {
    display: flex;
    flex-direction: column;
}

.content-home h1{
    align-self: flex-start;
    color: #E0E2DB;
    padding-left: 30px;
    margin-bottom: 0;
    font-size: 24px;
}

.content-home hr{
    width: 95%;
    align-self: flex-start;
    border: 1px #E0E0E0 solid;
}

.movies{
    display: flex;
    width: 90vw;
    height: auto;
    padding-left: 45px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

.movie {
    background-color: #1F2421;
    height: 150px;
    min-width: 200px;
    width: 18vw;
    margin-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.movie:hover {
    opacity: 0.5;
}

.tablero{
    margin-left: 48px;
    width:100vw;
    height:auto;
    padding-Top:10px;
    display: grid;
    grid-Template-Columns: repeat(5, 19vw);
    grid-Gap: 0px;
    grid-Auto-Rows: 165px;
    align-self: center;
}


.scroll::-webkit-scrollbar{
    height:6px;
    background-color:transparent;
}

.scroll::-webkit-scrollbar-thumb{
    visibility: hidden;
}

.scroll:hover::-webkit-scrollbar-thumb{
    height: 6px;
    background: #476C9B;
    border-radius: 5px;
    visibility: visible;
}


.scroll {
    margin-left: 48px;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    overflow-x: scroll;
}

.movie-s {
    min-width: 300px;
    width: 18vw;
    height: 180px;
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
    margin-bottom: 20px;
}

.movie-s:hover{
    cursor:pointer;
}