.content-home {
    display: flex;
    flex-direction: column;
}

.content-home h1{
    align-self: flex-start;
    color: #E0E2DB;
    padding-left: 30px;
    margin-bottom: 0;
    font-size: 24px;
}

.content-home hr{
    width: 95%;
    align-self: flex-start;
    border: 1px #E0E0E0 solid;
}

.movies{
    display: flex;
    width: 90vw;
    height: auto;
    padding-left: 45px;
    padding-top: 20px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.movie {
    background-color: #1F2421;
    height: 150px;
    min-width: 200px;
    width: 18vw;
    margin-top: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}

.movie:hover {
    opacity: 0.5;
}

.tablero{
    margin-left: 48px;
    width:100vw;
    height:70vh;
    padding-Top:10px;
    display: grid;
    grid-Template-Columns: repeat(5, 19vw);
    grid-Gap: 0px;
    grid-Auto-Rows: 165px;
    align-self: center;
}
